@media only screen and (max-width:740px){
#wrapper{
float:right;
min-width:600px;
max-width:320px;}

body{
	text-align:center;
	float:none;
	width:100%;
 
}
img{
	  border-radius: 50%;
	float:none;
}
h1,h2,h3,hr{
	text-align:center;
	float:none;
}
}

@media only screen and (max-width:570px){
#wrapper{
float:right;
min-width:600px;
max-width:320px;}

body{
	text-align:center;
	float:none;
	width:100%;
    
}
h1,h2,h3,hr{
	text-align:center;
	float:none;
}
img{
    border-radius: 50%;
	float:none;
}
}

@media only screen and (max-width:480px){
#wrapper{
float:right
min-width:600px;
max-width:320px;;
}
h1,h2,h3,hr{
	text-align:center;
	float:none;
}

body{
	text-align:center;
	float:none;
	width:100%;
	
}
img{
	border-radius: 50%;
	float:none;
}
}






