@media only screen and (max-width:740px){
#wrapper{
float:right;}

body{
	text-align:center;
	float:none;
	width:100%;
 
}
img{
	  border-radius: 50%;
	float:none;
}
all{
	float:none;
	width:100%
}
}

@media only screen and (max-width:570px){
#wrapper{
width:100%;
float:none;}
all{
	float:none;
	width:100%
}

body{
	text-align:center;
	float:none;
	width:100%;
}


img{
	border-radius: 50%;
	float:none;
}
}

@media only screen and (max-width:480px){
#wrapper{
width:100%;
float:none;
}

all{
	float:none;
	width:100%
}
body{
	text-align:center;
	float:none;
	width:100%;
	font-size:16px;
	
}
img{
	  border-radius: 50%;
	  float:none;
}
}






